In [1]:
import pandas as pd 
import numpy as np

Bu bölümde pandasın 2. veri tipi olan DataFrame(veri çerçeveleri) ni işleyceğiz.Verilen basit örneklerden dataframe yapısının nasıl çalıştığını, satır sütun ve veri kaydı mantığının nasıl çalıştığını anlamaya çalışalım.

DataFrame yapılarını aynı sql tabloları gibi düşünebiliriz sql tablolarında her bir satır için veri kaydı ifadesini 
kullanırız her bir veri kaydı içinde bir ID değeri mutlaka vardır.Tablolarda sütun lar değişken isimlerimizi satırlar 
dedğimiz gibi veri kaydını oluşturuyordu.DataFrame de de aynı satır ve sütunlardan oluşan bir yapı mevcuttur.Başta bir dictionary yapısı üzerinden sonra da örnek bir veri seti üzerinden inceleme yapalım

In [4]:
# 1.örnek
ogrenci=[
    {
        "name":"arin", 
        "age": 21, 
        "gender":"F"
    },

    {
        "name":"mehmet", 
        "age": 22, 
        "gender":"M"
    },

    {
        "name":"fatih", 
        "age": 23,
        "gender":"M"
    },

    {
        "name":"hakan", 
        "age": 23,
        "gender":"M"
    }, 

    {
        "name":"nazan", 
        "age": 23,
        "gender":"F"
    }
]

print(ogrenci)
print()
print(type(ogrenci))
# dictionarylerden oluşan listeyi bir daatframe çevirelim: 
df_ogrenci=pd.DataFrame(ogrenci)
print(df_ogrenci)
print(type(df_ogrenci))

[{'name': 'arin', 'age': 21, 'gender': 'F'}, {'name': 'mehmet', 'age': 22, 'gender': 'M'}, {'name': 'fatih', 'age': 23, 'gender': 'M'}, {'name': 'hakan', 'age': 23, 'gender': 'M'}, {'name': 'nazan', 'age': 23, 'gender': 'F'}]

<class 'list'>
     name  age gender
0    arin   21      F
1  mehmet   22      M
2   fatih   23      M
3   hakan   23      M
4   nazan   23      F
<class 'pandas.core.frame.DataFrame'>

dataframe yapısı aynı sql tablosundaki gibi değişkenlerden(name,age,gender) ve veri kayıtlarından ve kayıt ID lerinden oluşmakta

In [6]:
# 2.örnek
teachers={
    "names":["ahmet","mehmet","cansu","nalan","arzu","fikret"],
    "ages":[23,33,28,27,25,26],
    "genders":["M","M","F","F","F","M"]
}
print(teachers)
print(type(teachers))
print()
df_teachers=pd.DataFrame(teachers)
print(df_teachers)
print(type(df_teachers))

{'names': ['ahmet', 'mehmet', 'cansu', 'nalan', 'arzu', 'fikret'], 'ages': [23, 33, 28, 27, 25, 26], 'genders': ['M', 'M', 'F', 'F', 'F', 'M']}
<class 'dict'>

    names  ages genders
0   ahmet    23       M
1  mehmet    33       M
2   cansu    28       F
3   nalan    27       F
4    arzu    25       F
5  fikret    26       M
<class 'pandas.core.frame.DataFrame'>

In [7]:
# 3. örnek
list_of_list=[
    ["ahmet","mehmet","cansu","fidan"],
    [34,32,32,38],
    ["M","M","F","F"]
]
print(list_of_list)
print(type(list_of_list))
print()
df_list_of_list=pd.DataFrame(list_of_list)
print(df_list_of_list)
print(type(df_list_of_list))

[['ahmet', 'mehmet', 'cansu', 'fidan'], [34, 32, 32, 38], ['M', 'M', 'F', 'F']]
<class 'list'>

       0       1      2      3
0  ahmet  mehmet  cansu  fidan
1     34      32     32     38
2      M       M      F      F
<class 'pandas.core.frame.DataFrame'>

iç içe liste yapısında veriler için herhangi bir key degeri(değişken ismi) vermedik dataframe yapısı veriler için ıd degerleri ve sütun degerleri atamış oldu

In [9]:
# 4.örnek
names=["ahmet","mehmet","ayse","fatma"]
print(names)
print()
df_names=pd.DataFrame(names)
print(df_names)
print(df_names.ndim)

['ahmet', 'mehmet', 'ayse', 'fatma']

        0
0   ahmet
1  mehmet
2    ayse
3   fatma
2

aşağıdaki kullanım bize şöyle bir hata verecektir: "ValueError: If using all scalar values, you must pass an index" yani
Tüm skaler değerleri kullanıyorsanız bir indeks iletmelisiniz klasik bir dictionary yapısında burda index verilerini belirgin bir şeklide vermiş olmamız gerek sql tablosunu düşünelim burda belli bir değişken ismi yok!

In [11]:
ogr={"name":"hale","age":24}
print(ogr)
print(type(ogr))
df_ogr=pd.DataFrame(ogr)
print(df_ogr)

{'name': 'hale', 'age': 24}
<class 'dict'>

ValueError: If using all scalar values, you must pass an index

Hatanın düzelmesi için aşağıdaki gibi index değerleri vererek yeni bir yapı oluşturalım

In [12]:
# 5. örnek
ogr1={"Hale":pd.Series(data=[25,"F","CE"], index=["age","gender","departmant"]),
     "Ahmet":pd.Series(data=[25,"M","EE"], index=["age","gender","departmant"])
    }

print(ogr1)
print(type(ogr1))
print()
df_ogr1=pd.DataFrame(ogr1)
print(df_ogr1)

{'Hale': age           25
gender         F
departmant    CE
dtype: object, 'Ahmet': age           25
gender         M
departmant    EE
dtype: object}
<class 'dict'>

           Hale Ahmet
age          25    25
gender        F     M
departmant   CE    EE

yukarıdaki yapıda sql tablosu ile karşılaştırıcak olursak "Hale" ve "Ahmet" değişken ismimlerini, index değerleri ise tablodaki ID degerlerini Series yapıları ise kayıtların kendisini temsil etmektedir

yukaridaki veri yapısından devam edecek olursak; "Hale" için height adında yeni bir index degeri "Ahmet" için ise "Hale" den farklı olarak yeni bir weight index degeri ekleyelim ve iki değişken için ortak index degerlerine ilaveten farklı index değerleri için dataframe yapısının nasıl davrandığını inceleyelim

In [13]:
ogr2={"Hale":pd.Series(data=[25,"F","CE",172], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","weight"])
    }
print(ogr2)
print()
df_ogr2=pd.DataFrame(ogr2)
print(df_ogr2)

{'Hale': age            25
gender          F
departmant     CE
height        172
dtype: object, 'Ahmet': age           25
gender         M
departmant    EE
weight        83
dtype: object}

           Hale Ahmet
age          25    25
departmant   CE    EE
gender        F     M
height      172   NaN
weight      NaN    83

Görülüdüğü gibi heigtht index degeri Hale için varken Ahmet için yok bu yüzden karşılığına gelicek bir veri de yok dolayısıyla dataframe olmayan veri degerleri için NaN ifadesini kullanır