In [2]:
import pandas as pd 
import numpy as np

Bu bölümde dataframelerden alt dataframelerini nasıl oluşturabileceğimizi sub dataframelere nasıl erişim sağlayacğımızı ve bunlar üzerinde nasıl işlemler yapabileceğimizi inceleyeceğiz

1) dataframenin alt dataframelerine nasıl ulaştığımıza bakalım

In [8]:
# 1. örnek 
ogr1={"Hale":pd.Series(data=[25,"F","CE",67], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","height"]), 
     "Fatma":pd.Series(data=[25,"F","CE",83], index=["age","gender","departmant","height"])
    }
print(ogr1)
print()
df_ogr1=pd.DataFrame(ogr1)
print(df_ogr1)

{'Hale': age           25
gender         F
departmant    CE
height        67
dtype: object, 'Ahmet': age           25
gender         M
departmant    EE
height        83
dtype: object, 'Fatma': age           25
gender         F
departmant    CE
height        83
dtype: object}

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

In [4]:
# örnek dataframe içinden sadece belli bir sütun verileri erişmek istersek: 
df_ornek1=pd.DataFrame(ogr1, columns=["Hale"])
print(df_ornek1)

           Hale
age          25
gender        F
departmant   CE
height       67

In [5]:
# dateframe içinden birden fazla sütun(değişken) çekmek istersek: 
df_ornek2=pd.DataFrame(ogr1, columns=["Hale","Ahmet"])
print(df_ornek2)

           Hale Ahmet
age          25    25
gender        F     M
departmant   CE    EE
height       67    83

In [7]:
# dateframe içerisinden sadece istenilen veri kayıtlarını(index ismi üzerinden erişilir) çekmek istersek: 
df_ornek3=pd.DataFrame(ogr1, index=["age","gender"])
print(df_ornek3)

       Hale Ahmet Fatma
age      25    25    25
gender    F     M     F

In [8]:
# belli sütunların istenilen veri kayıtlarına(hem satır hem sütun) erişmek istersek: 
df_ornek4=pd.DataFrame(ogr1, columns=["Hale","Ahmet"], index=["age","height"])
print(df_ornek4)

       Hale Ahmet
age      25    25
height   67    83

2) dataframelerin elemanlarına nasıl ulaştığımıza bakalım

In [17]:
# 1)tek bir sütuna erişmek istersek
ogr2={"Hale":pd.Series(data=[25,"F","CE",67], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","height"]), 
     "Fatma":pd.Series(data=[25,"F","CE",83], index=["age","gender","departmant","height"])
    }
df_ogr2=pd.DataFrame(ogr2)
print(df_ogr2["Ahmet"])
# dönecek olan tek sütunlu verinin tipi de series veri yapısıdır: 
print(type(df_ogr2['Ahmet']))

age           25
gender         M
departmant    EE
height        83
Name: Ahmet, dtype: object
<class 'pandas.core.series.Series'>

DİKKAT: yukarıda dataframe veri yapısına ait tek bir sütunu görüntülerken notasyon olarak sütun ismini [] içinde yazarak veriyi çektik ve gelen veri tek boyutlu bir series veri yapısydı,eğer ki bir sütun ismini  [[]] içinde yazarak sütun verisini görüntülemek istersek dönecek olan yapı bir dataframe yapısı olarak karşımıza çıkacaktır bu iki farkı iyi inceleyiniz!

In [18]:
print(df_ogr2[["Ahmet"]]) # sütun ismi iç içe iki [] içine yazılmış!
print(type(df_ogr2[["Ahmet"]]))

           Ahmet
age           25
gender         M
departmant    EE
height        83
<class 'pandas.core.frame.DataFrame'>

In [19]:
# 2) birden fazla sütuna erişmek istersek 
print(df_ogr2[["Ahmet","Fatma"]])
print(type(df_ogr2[["Ahmet","Fatma"]]))

           Ahmet Fatma
age           25    25
gender         M     F
departmant    EE    CE
height        83    83
<class 'pandas.core.frame.DataFrame'>

DataFrame veri yapısının bir sql tablosu gibi düşünebilliyorduk şimdiye kadar tablonun sütun verilerine ulaşmaya çalıştık
şimdi ise tablonun veri kayıtlarına yani dataframenin index degerlerine nasıl ulaştığımıza bakalım

In [3]:
ogr3={"Hale":pd.Series(data=[25,"F","CE",67], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","height"]), 
     "Fatma":pd.Series(data=[25,"F","CE",83], index=["age","gender","departmant","height"])
    }
df_ogr3=pd.DataFrame(ogr3)
print(df_ogr3)
print()
# index degerlerine loc veya iloc yapısı ile ulaşıyorduk 
print(df_ogr3.loc["age"])
print()
print(df_ogr3.loc["gender"])
print()
print(df_ogr3.loc[["age","gender"]])

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

Hale     25
Ahmet    25
Fatma    25
Name: age, dtype: object

Hale     F
Ahmet    M
Fatma    F
Name: gender, dtype: object

       Hale Ahmet Fatma
age      25    25    25
gender    F     M     F

In [4]:
# veri kayıtları arasından(satır bilgileri) tek bir veriye ulaşmak istersek: 
# dataframe[colum][row] yapısı ile ulaşırız
print(df_ogr3)
print()
print(df_ogr3["Hale"]["age"])
print()
print(df_ogr3["Fatma"]["departmant"])

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

25

CE

DataFrame yapısı için görüntüleme işlemlerini inceledik.Şimdi de dataframe veri yapısına yeni veri kayıtları ekleyelim 
yani yeni sütun degerlerine karşılık gelicek olan yeni satır degerleri

In [5]:
# df_ogr3 dataframe verisine "Fatih" sütun isminde yeni bir sütun ve satır degerlerini ekleyelim
print(df_ogr3)
print()
df_ogr3["Fatih"]=[18,"M","EHM",190]
print(df_ogr3)

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

           Hale Ahmet Fatma Fatih
age          25    25    25    18
gender        F     M     F     M
departmant   CE    EE    CE   EHM
height       67    83    83   190

In [6]:
# yeni bir sütun degerinin verileri var olan iki sütunun satır degerleri olucak şekilde ekleme yapalım: 
df_ogr3["Fatih2"]=df_ogr3["Fatma"] + df_ogr3["Ahmet"]
print(df_ogr3)

           Hale Ahmet Fatma Fatih Fatih2
age          25    25    25    18     50
gender        F     M     F     M     FM
departmant   CE    EE    CE   EHM   CEEE
height       67    83    83   190    166

dataframe yapısını bir sql tablosu gibi düşünüyorduk.şimdiye kadar aslında veri setine hep yeni bir kayıt ekledik Fatih
Fatih2 isminde falan. şimdi ise yeni bir satır eklemeyi görelim.yeni bir satır eklemek demek aslında yeni bir değişken yapısı eklmek demek.elimizde age,gender,departmant,height değişkenleri var bunlara ek olarak surname değişkenini ekleyelim Not:burda hata aldık tekrar bak

In [24]:
# yeni kayıt eklemek için baştaki orjinal dataframemizi alalım daha net görelim
ogr4={"Hale":pd.Series(data=[25,"F","CE",67], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","height"]), 
     "Fatma":pd.Series(data=[25,"F","CE",83], index=["age","gender","departmant","height"])
    }
df_ogr4=pd.DataFrame(ogr4)
print(df_ogr4)
# surname değişkenini eklemek içinde yeni dataframeler yaratıcaz
# EKLEME İŞLEMİNİ TAMAMLAYAMADIM

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

In [27]:
# sütun veya satır silmek için:
# pop() metodu kolonu yani aslında bir kaydın tamammını drop() ise hem kolonu hem satırı siler
ogr5={"Hale":pd.Series(data=[25,"F","CE",67], index=["age","gender","departmant","height"]),
     "Ahmet":pd.Series(data=[25,"M","EE",83], index=["age","gender","departmant","height"]), 
     "Fatma":pd.Series(data=[25,"F","CE",83], index=["age","gender","departmant","height"])
    }
df_ogr5=pd.DataFrame(ogr5)
print(df_ogr5)
print()
df_ogr5.pop("Hale")
print(df_ogr5)

           Hale Ahmet Fatma
age          25    25    25
gender        F     M     F
departmant   CE    EE    CE
height       67    83    83

           Ahmet Fatma
age           25    25
gender         M     F
departmant    EE    CE
height        83    83

DİKKAT!: yukarıdaki kodu birden fazla kez çalıştırısak yani pop ile bir kere silinen kaydı tekrar silmeye çalışırsak hata alırız çünkü olmayan bir veriyi silmeye çalışıyoruz.