Bu derste Pandas serilerine nasıl ulaşırız onlar üzerinde hangi işlemleri yapabiliriz bunları inceleyeceğiz

In [1]:
import pandas as pd 
import numpy as np

series veri yapısına verdiğimiz ilk liste verileri ikinci liste ise index numaralarını temsil eder yani biz 
liste yapısı içerisinde data= ve index= şeklinde belirtmek zorunda değiliz

In [2]:
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
print(ogrenci)

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

In [3]:
# series verilerine index degerleri üzerinden erişim sağlarız 
print(ogrenci["name"])
print()
# eğer çoklu index degerlerine erişmek istersek index degerlerini iç içe liste halinde yazmalıyız
print(ogrenci[["name","age"]])
# Not yukarıdaki yapı da bir seried yapısıdır
print(type(ogrenci[["name","age"]]))

Ahmet

name    Ahmet
age        23
dtype: object
<class 'pandas.core.series.Series'>

In [14]:
# series veri yapısı içindeki değerlere numerik indexler üzerinden de ulaşabiliriz: 
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
# print(ogrenci[2])
# tüm verilere erişmek istersek: 
print(ogrenci[0:])
print()
# sondan ikinci elemandan sonraki tüm dgerleri almak 
print(ogrenci[-2:])
print()
# name indexinden departmant indexine kadar görüntülemek için: 
print(ogrenci["name":"departmant"])

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

age           23
departmant    CE
dtype: object

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

series veri yapılarına ulaşmak için location ve loc şeklinde iki ayrı yöntem daha vardır. location
kullanmak için series veri yapısnın kendi index degerlerini kullanırız. loc kullanmak için numerik index yapısı kullanırız

In [15]:
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
print(ogrenci.loc["departmant"])
print(ogrenci.iloc[3])
# print(ogrenci.loc[1]) ->  hata alırız

CE
CE

pandas serileri mutable nesnelerdir yani pandas serilerini sonradan değiştirebiliriz inceleyelim

In [16]:
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
print(ogrenci)
print()
ogrenci["name"]="Mehmet"
ogrenci.iloc[2]=35
print(ogrenci)

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

name          Mehmet
surname        hakan
age               35
departmant        CE
dtype: object

In [17]:
# drop komutu aşağıdaki gibi kullanılırsa orjinal seride bir değişiklik yapmaz 
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
print(ogrenci)
print()
ogrenci.drop("name")
print(ogrenci)

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

In [19]:
# drop işleminin seride kalıcı bir silme işlemi yapmasını istersek inplace prmtresi kullanılır
ogrenci=pd.Series(["Ahmet","hakan",23,"CE"], ["name","surname","age","departmant"])
print(ogrenci)
print()
ogrenci.drop("name", inplace=True)
print(ogrenci)

name          Ahmet
surname       hakan
age              23
departmant       CE
dtype: object

surname       hakan
age              23
departmant       CE
dtype: object

In [23]:
# aşağıdaki işlemleri inceleyelim
ogrenci=pd.Series(["Ahmet","hakan","yirmi üc","CE"], ["name","surname","age","departmant"])
# series yapısının uzunluğunu görmek için: 
print(len(ogrenci))
# series yapısını list yapısına çevirmek istersek: 
print(list(ogrenci))
# series serisini dictionary yapısına çevirmek istersek: 
print(dict(ogrenci))
# veri setini sıralamak istersek: 
print(sorted(ogrenci))
# min ve max deegerlerine bakarsak: 
print(min(ogrenci))
print(max(ogrenci))

4
['Ahmet', 'hakan', 'yirmi üc', 'CE']
{'name': 'Ahmet', 'surname': 'hakan', 'age': 'yirmi üc', 'departmant': 'CE'}
['Ahmet', 'CE', 'hakan', 'yirmi üc']
Ahmet
yirmi üc