In [1]:
import pandas as pd 
import numpy as np

# Pandas Giriş
pandas da veriler tablo şeklinde tutulabilir yani verilerin birden fazla öznitelikleri olabilir
pandas serileri ve dataframe yapılarıyla kolyaca veri analizi yapmamızı sağlar
pandas numpy üzerine kurulmuş bir kütüphanedir farkları pandas da heterojen veri yapılarıyla çalışabiliriz
pandas ta indexleme numpy da olduğu gibi sadece numerik değildir istediğimiz şekilde indexleme yapabiliriz.

In [2]:
# pandas yüklü versiyonunu öğrenmek için: 
print(pd.__version__)

2.1.4

In [3]:
# ilk veri seti örneğimizi python liste yapısından olsun 
student=["Zeynep",23,"CE"]
print(student)
print(type(student))
print()
ps_student=pd.Series(student)
print(ps_student)
print(type(ps_student))

['Zeynep', 23, 'CE']
<class 'list'>

0    Zeynep
1        23
2        CE
dtype: object
<class 'pandas.core.series.Series'>

liste halindeki veri series yapısı sayesinde numerik bir indexleme ile karşımıza geldi
liste yapısı pandas series yapısına dönüştürmüş olduk

In [4]:
# diğer veri seti örneğimizi bir dictionary üzerinden inceleyelim 
student1={
    "name":"zemzem",
    "surname":"yayan",
    "age":"22"
}
print(student1)
print(type(student1))
print()
ps_student1=pd.Series(student1)
print(ps_student1)
print(type(ps_student1))

{'name': 'zemzem', 'surname': 'yayan', 'age': '22'}
<class 'dict'>

name       zemzem
surname     yayan
age            22
dtype: object
<class 'pandas.core.series.Series'>

pandas series yapısı sözlük yapısındaki key degerlerini birer index numarası olarak alır

In [6]:
# series veri yapsı çok değşkneli verileri tutabiliyordu
veri=pd.Series(["ali",23,"ogrenci"])
print(type(veri))
print(veri)
print("-------------")
veri2=pd.Series([22,34,67])
print(type(veri2))
print(veri2)
print("-------------")
veri3=pd.Series([3.4,55,7])
print(type(veri3))
print(veri3)
print("-------------")
veri4=pd.Series([True,False,False,True])
print(type(veri4))
print(veri4)

<class 'pandas.core.series.Series'>
0        ali
1         23
2    ogrenci
dtype: object
-------------
<class 'pandas.core.series.Series'>
0    22
1    34
2    67
dtype: int64
-------------
<class 'pandas.core.series.Series'>
0     3.4
1    55.0
2     7.0
dtype: float64
-------------
<class 'pandas.core.series.Series'>
0     True
1    False
2    False
3     True
dtype: bool

In [9]:
# aşağıdaki bazı kullanımları inceleyelim 
ogrenci=pd.Series(data=["Ahmet",23,"Yazilim Muhendisi"], index=["name","age","bolum"])
print("ogrenci ")
print(ogrenci)
print()
print("ogrenci.values ")
print(ogrenci.values)
print()
print("ogrenci.index ")
print(ogrenci.index)
print()
print("ogrenci.shape ")
print(ogrenci.shape) # shape tuple doner kaç boyutlu ise arayı , ile ayırır
print()
print("ogrenci.ndim ")
print(ogrenci.ndim) # ndim boyut sayısını doner
print()
print("ogrenci.size ")
print(ogrenci.size) # values sayılarını doner
print()
print("ogrenci.name ")
print(ogrenci.name)
print()
print("ogernci.dtype")
print(ogrenci.dtype)
print()

ogrenci
name                 Ahmet
age                     23
bolum    Yazilim Muhendisi
dtype: object

ogrenci.values
['Ahmet' 23 'Yazilim Muhendisi']

ogrenci.index
Index(['name', 'age', 'bolum'], dtype='object')

ogrenci.shape
(3,)

ogrenci.ndim
1

ogrenci.size
3

ogrenci.name
None

ogernci.dtype
object

In [11]:
# bir series yapısının index ve values verilerinde arama yapmak istersek : 
ogrenci=pd.Series(data=["Ahmet",23,"Yazilim Muhendisi"], index=["name","age","bolum"])
print("ogrenci ")
print(ogrenci)
print()
# index sorugulama
x="name" in ogrenci
print("x-> ",x)
y="job" in ogrenci
print("y-> ",y)
print()
# values sorgulama
x1="hakan" in ogrenci.values
print("x1-> ", x1)
print()
y1="insaatmuhendisligi" in ogrenci.values
print("y1-> ", y1)

ogrenci
name                 Ahmet
age                     23
bolum    Yazilim Muhendisi
dtype: object

x->  True
y->  False

x1->  False

y1->  False

In [13]:
# aşağıdai basit istatiksel hesaplamalra bakalım
numbers=pd.Series(range(1,300))
print(numbers)
print("numbers.sum()-> ", numbers.sum())
print("numbers.mean()-> ", numbers.mean())
print("numbers.product()-> ", numbers.product())

0        1
1        2
2        3
3        4
4        5
      ...
294    295
295    296
296    297
297    298
298    299
Length: 299, dtype: int64
numbers.sum()->  44850
numbers.mean()->  150.0
numbers.product()->  0