Bu derste Series veri yapısı için örnek bir veri seti inceleyeceğiz bazı örnekler yapacağız

In [1]:
import pandas as pd 
import numpy as np

In [2]:
veri=pd.read_csv("C:/Users\HP/Desktop/datasets/ReviewContent.csv")
veri

,Review ID,Review Date,Review Content,Listing Title,Neighbourhood,City,State,Country,Room Type,Room Price,Room Availability
0,4055629,2012-10-06,Very nice accommodation in an aesthetically pl...,Nottinghill Portobello Artist Flat,Kensington and Chelsea,London,England,United Kingdom,Entire home/apt,100,338
1,25329416,2013-11-03,Me and my friends had such a nice time at Dott...,Quiet Pink Studio in the PIJP area,De Pijp - Rivierenbuurt,Amsterdam,North Holland,The Netherlands,Private room,80,10
2,21705849,2014-11-27,I stayed for 4night.She gave us a lot of snuck...,"PRIVATE Room in Spacious, Quiet Apt",Harlem,New York City,New York,United States,Private room,57,268
3,41133812,2012-05-08,The apartment was situated on the first floor ...,Bonito estudio en pleno centro,Universidad,Madrid,Comunidad de Madrid,Spain,Entire home/apt,38,274
4,7465026,2013-08-16,"Even though it was only for one night, we had ...",Acropolis Apartment brand new,ΑΚΡΟΠΟΛΗ,Athens,Attica,Greece,Entire home/apt,62,281
...,...,...,...,...,...,...,...,...,...,...,...
995,44498863,2012-08-30,I loved staying here during my time in Paris. ...,A typical parisian flat,Buttes-Montmartre,Paris,Île-de-France,France,Private room,35,329
996,30544438,2013-02-28,Highly recommend this as a place to stay if yo...,The Venice Roost on Abbot Kinney,Venice,Los Angeles,California,United States,Entire home/apt,191,309
997,46642535,2014-08-30,John was a great host. I came in on a red eye...,Top Floor Renovated 1 BR / 1BA,West Roxbury,Boston,Massachusetts,United States,Entire home/apt,95,10
998,21403195,2014-12-26,Very good experiance had a comfortable stay. V...,NR LGA/JFK & City Studio W/Bathroom,Jackson Heights,New York City,New York,United States,Private room,75,357
999,38944752,2013-10-15,Thank you for the wonderful stay! It was a c...,15 Minutes from Manhattan,Woodside,New York City,New York,United States,Private room,110,329

Not:veri import ederken encoding ,engine vs hataları almamak için ilgili hatanın parametresini dahil etmeliyiz

şu anda import etmiş oldugumuz veri bir series veri yapısıan uygun değil çünkü çoklu satır ve sütunlardan oluşmaktadır
tablo halindeki verileri import ederken eğer belirli bir veri kaydını series veri yapısında incelemek istersek ilgili 
veri kaydının alanını isim olarak belirtmeliyiz usecols[]

In [6]:
veri2=pd.read_csv("C:/Users\HP/Desktop/datasets/ReviewContent.csv",usecols=["Review ID"])
print(veri2)

     Review ID
0      4055629
1     25329416
2     21705849
3     41133812
4      7465026
..         ...
995   44498863
996   30544438
997   46642535
998   21403195
999   38944752

[1000 rows x 1 columns]